@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg: rgb(201, 227, 231);
    --primary: rgb(128, 198, 230);
    --accent: rgb(170, 217, 230);
    --popup: white;
    --shadow: rgba(0, 0, 0, 0.19);
    --button: skyblue;
}

body {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    height: 100vh;
    background-color: var(--bg);
    font-family: "Poppins";
    margin: 0;  
}
/*-------------------------LOGO-----------------------------*/
.header {
    padding-bottom: 50px;
}

#logo {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 15px;
    display: block;
}

.header-title {
    font-family: "Lilita One";
    font-size: 35px;
    padding-left: 40px;
    margin-top: -110px;
    visibility: hidden;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 15px;
    padding-top: 47px;
    padding-left: 25px;
    position: relative;
    margin-top: -50px;
    white-space: nowrap;
    visibility: hidden;
}

/*---------------------SIDE NAVIGATION BAR-------------------------------*/
.nav-bar {
    background-color: var(--primary);
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 110vh;
    transition: .75s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
}

.nav-bar:hover {
    width: 300px;
    z-index: 2;
}

.nav-bar:hover .header-subtitle {
    transition-delay: 0.5s;
    visibility: visible;
} 

.nav-bar:hover .header-title {
    transition-delay: 0.5s;
    visibility: visible;
}

.nav-icons a {
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
}

.nav-icons ion-icon{
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
}

.icon-label {
    position: relative;
    left: 100px;
    bottom: 55px;
}

.nav-icons a:hover, .add-member:hover, #balance ion-icon:hover, #expenses ion-icon:hover, #goals ion-icon:hover{
    color: white;
}

.main-page {
    display: grid;
    grid-template-columns: 1050px 310px;
    gap: 20px;
}

.dashboard {
    grid-row: 1/7;
    font-size: 50px;
    padding-top: 10px;
}

.dashboard .dashboard-content {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    font-size: 25px;
    font-weight: 600;
}

/* .for-approval {
    font-size: 20px;
    padding-top: 20px;
    grid-row: 1/4;
} */

.history {
    font-size: 20px;
    grid-row: 4/7;
    padding-top: 30px;
}

hr {
    height: 2px;
    background-color: darkgray;
    border-color: darkgray;
}

#balance {
    grid-row: 1/1;
    width: 450px;
    height: 110px;
    background-color: var(--primary);
    border-radius: 30px;
    margin-left: 10px;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    box-shadow: 0 6px 20px 0 var(--shadow);
}

.balance-content {
    width: 400px;
    height: 50px;
    font-size: 33px;
}

.set-balance {
    background-color: var(--primary);
    border: none;
    font-size: 25px;
    float: right;
    margin-right: 30px;
    text-align: center;
}

#currency {
    float: left;
    padding-left: 40px;
    padding-top: 10px;
}

#amount {
    float: right;
    padding-right: 70px;
    padding-top: 10px;
}

#expenses {
    grid-row: 1/3;
    width: 480px;
    height: 600px;
    background-color: var(--accent);
    border-radius: 30px;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    box-shadow: 0 6px 20px 0 var(--shadow);
}



.add-expense {
    background-color: var(--accent);
    border: none;
    font-size: 25px;
    float: right;
    margin-right: 30px;
    text-align: center;
}

.expenses-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
  }

  #expenses-content{
    padding-right: 20px;
  }
  
  

#balance-form {
    display: none;
    z-index: 9;
    width: 350px;
    height: 130px;
    background-color: var(--popup);
    text-align: center;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
}

#expenses-form {
    display: none;
    z-index: 4;
    width: 350px;
    height: 185px;
    background-color: var(--popup);
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 6px 20px 0 var(--shadow);
}

#balance-form hr, #expenses-form hr {
    border-color: skyblue;
    height: 0;
    width: 320px;
}

.form-title {
    text-align: center;
}

#target-price, #goal-item, #amt-input, #amount-input, #expenses-item, #expenses-date {
    font-size: 18px;
    border-radius: 30px;
}

#target-price::placeholder, #goal-item::placeholder, #amt-input::placeholder, #amount-input::placeholder, #expenses-item::placeholder {
    padding-left: 5px;
}

#goals-form button, #balance-form button, #expenses-form button {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 30px;
    background-color: var(--button);
    border: none;
    font-weight: 600;
    font-family: "Poppins";
    margin-top: 5px;
}

#expenses-form button {
    margin-left: 80px;
}

#goals {
    /* grid-row: 1/1; */
    width: 450px;
    height: 453px;
    background-color: var(--accent);
    border-radius: 30px;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    box-shadow: 0 6px 20px 0 var(--shadow);
    position: absolute;
    top: 285px;
    margin-left: 10px;
}

/* .goals-content {
    width: 410px;
    height: 70px;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    white-space: normal;
    overflow: auto;
    margin-top: 3px;
}

.goals-content:hover{
    background: var(--button);
} */

.add-goals {
    background-color: var(--accent);
    border: none;
    font-size: 25px;
    float: right;
    margin-right: 30px;
    text-align: center;
}

#goals {
    float: left;
}

#target-price ul{
    float: left;
    list-style-type: none;
    padding-left: 10px;
    display: inline;
}

#goals-form {
    display: none;
    z-index: 4;
    width: 350px;
    height: 185px;
    background-color: var(--popup);
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 6px 20px 0 var(--shadow);
    z-index: 1;
}

#goals-form button {
    margin-left: 70px;
    margin-top: 20px;
}

.add-goals {
    background-color: var(--accent);
    border: none;
    font-size: 25px;
    float: right;
    margin-right: 30px;
    text-align: center;
}

.history {
    font-size: 20px;
    padding-top: 30px;
    position: absolute;
    top: 50%;
    right: 0px;
    
}

.history hr{
    height: 2px;
    background-color: darkgray;
    border-color: darkgray;
    width: 280px;
}

.for-approval hr {
    height: 2px;
    background-color: darkgray;
    border-color: darkgray;
    width: 280px;
}

.for-approval {
    font-size: 20px;
    padding-top: 20px;
    position: absolute;
    top: 10px;
    right: 0px;
}

/* #target ul{
    float: right;
    list-style-type: none;
    padding-left: 10px;
    position: absolute;
    top: 11%;
    right: 10%;
} */

#goals-content{
    padding-right: 20px;
}
.goals-table {
    width: 100%;
    padding-right: 20px;
    border-collapse:collapse;
  }
  
  .goals-table td {
    padding: 5px; /* Add padding for better cell spacing */
    border: none;
  }
  
  .goal-name{
    text-align: left; /* Align the text in these cells to the left */
  }
  
  .goal-unit ,.goal-price {
    text-align: right; /* Align the text in these cells to the right */
    margin-right: 10px;
  }

  .goals-table tr:hover{
    background: var(--primary);
    border: none;
  }