@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg: rgb(201, 227, 231);
    --primary: rgb(128, 198, 230);
    --accent: rgb(170, 217, 230);
    --popup: white;
    --shadow: rgba(0, 0, 0, 0.19);
    --button: skyblue;
}

body {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    height: 100vh;
    background-color: var(--bg);
    font-family: "Poppins";
    margin: 0;  
}
/*-------------------------LOGO-----------------------------*/
.header {
    padding-bottom: 50px;
}

#logo {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 15px;
    display: block;
}

.header-title {
    font-family: "Lilita One";
    font-size: 35px;
    padding-left: 40px;
    margin-top: -110px;
    visibility: hidden;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 15px;
    padding-top: 47px;
    padding-left: 25px;
    position: relative;
    margin-top: -50px;
    white-space: nowrap;
    visibility: hidden;
}
/*-------------------------LOGO-----------------------------*/

/*---------------------SIDE NAVIGATION BAR-------------------------------*/
.nav-bar {
    background-color: var(--primary);
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 110vh;
    transition: .75s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
}

.nav-bar:hover {
    width: 300px;
    z-index: 2;
}

.nav-bar:hover .header-subtitle {
    transition-delay: 0.5s;
    visibility: visible;
} 

.nav-bar:hover .header-title {
    transition-delay: 0.5s;
    visibility: visible;
}

.nav-icons a {
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
}

.nav-icons ion-icon{
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
}

.icon-label {
    position: relative;
    left: 100px;
    bottom: 55px;
}

.nav-icons a:hover {
    color: white;
}

/*------------------------SETTINGS------------------------*/
.wrapper {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%,-50%);
    width: 600px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left {
    width: 30%;
    background: var(--primary);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #353c4e;
    letter-spacing: 2px;
}

.wrapper .left a:hover {
    color: var(--shadow);
    transform: scale(1.2);
}

.wrapper .left a.active {
    color: var(--shadow);
}

.wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info {
    margin-bottom: 25px;
}

.wrapper .right .info h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data {
    display: flexbox;
    justify-content: space-between;
}

.wrapper .right .info_data .data {
    width: 45%;
}

.wrapper .right .info_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
    width: 200px;
}

.wrapper .right .info_data .data p, .input, label {
    border: 0;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--shadow);
    color: #919aa3;
    width: 140%;
}

.btn {
    border: 0;
    background: var(--bg);
    padding: 7px 12px;
    margin-top: 18px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.info {
    display: none;
}