@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --bg: rgb(201, 227, 231);
    --primary: rgb(128, 198, 230);
    --accent: rgb(170, 217, 230);
    --popup: white;
    --shadow: rgba(0, 0, 0, 0.19);
    --button: skyblue;
}

body {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    height: 100vh;
    background-color: var(--bg);
    font-family: "Poppins";
    margin: 0;  
}
/*-------------------------LOGO-----------------------------*/
.header {
    padding-bottom: 50px;
}

#logo {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 15px;
    display: block;
}

.header-title {
    font-family: "Lilita One";
    font-size: 35px;
    padding-left: 40px;
    margin-top: -110px;
    visibility: hidden;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 15px;
    padding-top: 47px;
    padding-left: 25px;
    position: relative;
    margin-top: -50px;
    white-space: nowrap;
    visibility: hidden;
}
/*-------------------------LOGO-----------------------------*/

/*---------------------SIDE NAVIGATION BAR-------------------------------*/
.nav-bar {
    background-color: var(--primary);
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 110vh;
    transition: .75s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
}

.nav-bar:hover {
    width: 300px;
    z-index: 2;
}

.nav-bar:hover .header-subtitle {
    transition-delay: 0.5s;
    visibility: visible;
} 

.nav-bar:hover .header-title {
    transition-delay: 0.5s;
    visibility: visible;
}

.nav-icons a {
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
}

.nav-icons ion-icon{
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
}

.icon-label {
    position: relative;
    left: 100px;
    bottom: 55px;
}

.nav-icons a:hover {
    color: white;
}

/* ------------------------------------------------------------------------------------------- */

.main{
    width: 50rem;
    height: 30rem;
    background:var(--popup);
    border-radius: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 12px 12px 12px;
    left: 10%;
    top: 20%;
    
}

.main .name{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 30px;
}

 .main .name .dp img{
    width: 120px;
    height: 120px;
    border-radius: 35px;
    object-fit: cover;
}

.main .name .dp{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: absolute;
    top: -100px;
    left: 50px;
    border-radius: 35px 35px 0px 0px;
}

.main .name .dp::before{
    content: '';
    width: 40px;
    height: 50px;
    background: rgb(254, 254, 254);
    position: absolute;
    right: -30px;
    top: 50px;
}

.main .name .dp::after{
    content: '';
    width: 45px;
    height: 50px;
    background: var(--bg);
    position: absolute;
    right: -45px;
    top: 50px;
    border-bottom-left-radius: 25px;
}

.main .name p{
    position: absolute;
    left: 380px;
    top: 10px;
    font-weight: 600;
}

.main .text-area{
    width: 45rem;
    height: 15rem;
    min-height: 7rem;
    background: white;
    border-radius: 18px;
    border: none;
    outline: none;
    padding: 12px;
    color: gray;
    font-size: 21px;
    font-family: cursive;
    overflow-y: scroll;

}

.text-area:empty::before{
    content: attr(data-placeholder);
    color: grey;
    font-family: cursive;
}

#submit-btn{
    background: var(--button);
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 430px;
    font-family: auto;
    font-family: cursive;
}

#submit-btn:hover{
    background: var(--accent);
}

hr {
    height: 2px;
    background-color: darkgray;
    border-color: darkgray;
}

.msg hr {
    height: 2px;
    background-color: darkgray;
    border-color: darkgray;
    width: 430px;
}

.msg {
    font-size: 20px;
    padding-top: 20px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.received li{
    list-style: none;
    background: var(--primary);
    height: 100px;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 25px;
}

.received li:hover{
    background: whitesmoke;
}

.received{
    overflow-y: scroll;
}