@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Secular One:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --text-color: rgb(237, 233, 232);
}

/*----------------------------- GENERAL STYLES -----------------------------*/
body {
    background-color: rgb(237, 233, 232);
}

/*----------------------------- TITLE -----------------------------*/
.title {
    font-family: fantasy;
    font-size: 80px;
}

/*----------------------------- HEADER -----------------------------*/
.header {
    width: 100%;
}

#logo {
    height: 65px;
    padding-left: 5px;
    padding-top: 5px;
    position: absolute;
    width: 65px;
}

.header-title {
    font-family: "Lilita One";
    font-size: 35px;
    padding-left: 70px;
    padding-top: 8px;
    position: absolute;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 15px;
    padding-left: 55px;
    padding-top: 47px;
}

/*----------------------------- PAGE -----------------------------*/
.page {
    background-color: rgb(121, 199, 240);
    color: var(--text-color);
    margin-bottom: 30px;
    margin-top: 10px;
}

.page-title {
    font-family: "Secular One";
    font-size: 70px;
    margin-left: 50px;
}

.page-desc {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
}

/*----------------------------- DESCRIPTIONS -----------------------------*/
.desc-title {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
}

.desc-body {
    font-family: "Roboto";
    font-size: 14px;
}

/*----------------------------- IMAGE + TEXT LAYOUT -----------------------------*/
.top-half .text-container {
    margin-left: 600px;
    margin-right: 50px;
    margin-top: 50px;
    padding-bottom: 2px;
    text-align: center;
}

.top-half img {
    float: left;
    height: 400px;
    margin-left: 150px;
    margin-top: 10px;
    width: 400px;
}

.bottom-half .text-container {
    margin-left: 50px;
    margin-right: 600px;
    margin-top: 80px;
    padding-bottom: 2px;
    text-align: center;
}

.bottom-half img {
    float: right;
    height: 400px;
    margin-left: auto;
    margin-right: 150px;
    width: 400px;
}
