@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Secular One:wght@300;400;500;600;700;800;900&display=swap');

body {
    max-height: 500px;
}

/*----------------------------- LAYOUT -----------------------------*/
.divider {
    float: right;
    width: 60%;
}

#wave {
    background-color: transparent;
    float: left;
    height: 710px;
}

#rectangle {
    background-color: rgb(121, 199, 240);
    float: right;
    height: 710px;
    position: relative;
    width: 79.6%;
}

/*----------------------------- HEADER -----------------------------*/
.header {
    height: 80px;
    width: 100%;
}

#logo {
    float: left;
    height: 80px;
    margin-left: 270px;
    margin-top: 5px;
    width: 80px;
}

.header-title {
    font-family: "Lilita One";
    font-size: 50px;
    margin-left: 350px;
    position: absolute;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 22px;
    margin-left: 330px;
    margin-top: 55px;
    position: absolute;
}

/*----------------------------- BUTTONS -----------------------------*/
.buttons {
    display: flex;
    font-family: "Secular One";
    font-size: 25px;
    margin-left: 500px;
    margin-top: 25px;
    position: absolute;
}

#signup {
    background-color: white;
    border: none;
    border-radius: 40px;
    width: 130px;
}

#login, #about {
    background-color: transparent;
    border: none;
    color: white;
    padding-right: 40px;
}

/*----------------------------- IMAGE -----------------------------*/
#page-image {
    height: 500px;
    margin-left: 100px;
    margin-top: 150px;
    position: absolute;
    width: 500px;
}

/*----------------------------- BODY CONTENT -----------------------------*/
.body-content {
    font-family: "Roboto"; 
}

.body-head {
    font-size: 50px;
    font-weight: 900;
    padding-left: 130px;
    padding-top: 150px;
}

.body-text {
    font-size: 25px;
    padding-left: 150px;
}
