/*----------------------------- IMPORT FONTS -----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*----------------------------- ROOT VARIABLES -----------------------------*/
:root {
    --accent: rgb(170, 217, 230);
    --bg: rgb(201, 227, 231);
    --button: skyblue;
    --popup: white;
    --primary: rgb(128, 198, 230);
    --shadow: rgba(0, 0, 0, 0.19);
}

/*----------------------------- GENERAL STYLES -----------------------------*/
body {
    background-color: var(--bg);
    display: grid;
    font-family: "Poppins";
    gap: 20px;
    height: 100vh;
    margin: 0;
}

/*----------------------------- NAVIGATION BAR -----------------------------*/
.nav-bar {
    background-color: var(--primary);
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 95vh;
    left: 8px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 10px;
    transition: 0.75s;
    width: 100px;
    z-index: 1000;
}

.nav-bar:hover {
    width: 300px;
    z-index: 1000;
}

.nav-bar:hover .header-title,
.nav-bar:hover .header-subtitle {
    transition-delay: 0.5s;
    visibility: visible;
}

/*----------------------------- LOGO -----------------------------*/
.header {
    padding-bottom: 50px;
}

#logo {
    display: block;
    height: 70px;
    padding: 10px 0 50px 15px;
    width: 70px;
}

.header-title {
    font-family: "Lilita One";
    font-size: 35px;
    margin-top: -110px;
    padding-left: 40px;
    visibility: hidden;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 15px;
    margin-top: -50px;
    padding: 47px 0 0 25px;
    position: relative;
    visibility: hidden;
    white-space: nowrap;
}

/*----------------------------- NAVIGATION ICONS -----------------------------*/
.nav-icons a {
    color: black;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}

.nav-icons ion-icon {
    display: block;
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.icon-label {
    bottom: 55px;
    left: 100px;
    position: relative;
}

.nav-icons a:hover,
.add-member:hover,
#balance ion-icon:hover,
#expenses ion-icon:hover,
#goals ion-icon:hover {
    color: white;
}

/*----------------------------- MAIN PAGE -----------------------------*/
.main-page {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    margin-left: 120px;
}

/*----------------------------- DASHBOARD -----------------------------*/
.dashboard {
    font-size: 50px;
    grid-row: 1/7;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
}

.dashboard .dashboard-content {
    display: grid;
    font-size: 20px;
    font-weight: 600;
    gap: 15px;
    grid-template-columns: 480px 10px;
    width: fit-content;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
}

.dashboard-header hr {
    flex-grow: 1;
    height: 2px;
    background-color: darkgray;
    border: none;
    margin-right: 20px;
}

.history {
    font-size: 20px;
    width: 280px;
}

/*----------------------------- BALANCE -----------------------------*/
#balance {
    background-color: var(--primary);
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 var(--shadow);
    grid-row: 1/1;
    height: auto;
    margin-left: 10px;
    padding: 10px 0px 10px 20px;
    text-align: left;
}

.balance-content {
    font-size: 33px;
    width: 450px;
}

#currency {
    float: left;
    padding-left: 40px;
    padding-top: 10px;
}

#amount {
    float: right;
    padding-right: 70px;
    padding-top: 10px;
}

/*----------------------------- EXPENSES -----------------------------*/
#expenses {
    background-color: var(--accent);
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 var(--shadow);
    grid-row: 1/3;
    height: auto;
    margin-left: 10px;
    padding: 10px 0px 10px 20px;
    text-align: left;
    width: 470px;
}

#expenses-content {
    padding-right: 20px;
}

.expenses-table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    width: 100%;
}

/*----------------------------- GOALS -----------------------------*/
#goals {
    background-color: var(--accent);
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 var(--shadow);
    height: auto;
    margin-left: 10px;
    padding: 10px 0px 5px 20px;
    text-align: left;
    top: 270px;
    width: 450px;
}

#goals-content {
    padding-right: 20px;
}

.goals-table {
    border-collapse: collapse;
    padding-right: 20px;
    width: 100%;
}

.goals-table td {
    border: none;
    font-size: 14px;
    padding: 5px;
}

.goal-name {
    text-align: left;
}

.goal-unit,
.goal-price {
    margin-right: 10px;
    text-align: right;
}

.goals-table tr:hover {
    background: var(--primary);
    border: none;
}

/*----------------------------- BUTTON STYLES (Uniform) -----------------------------*/
.set-balance,
.add-expense,
.add-goals {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 25px;
    margin-right: 20px;
    text-align: center;
    transition: transform 0.1s ease-in-out;
}

.set-balance:active,
.add-expense:active,
.add-goals:active {
    transform: scale(1.1);
}

/*----------------------------- FORM STYLES -----------------------------*/
#balance-form,
#expenses-form,
#goals-form {
    background-color: var(--popup);
    border-radius: 10px;
    display: none;
    font-size: 20px;
    height: 185px;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
    text-align: left;
    width: 350px;
    z-index: 4;
    box-shadow: 0 6px 20px 0 var(--shadow);
}

#balance-form {
    height: 130px;
    text-align: center;
    z-index: 9;
}

#goals-form {
    z-index: 1;
}

#balance-form hr,
#expenses-form hr,
#goals-form hr {
    border-color: skyblue;
    height: 0;
    width: 320px;
}

.form-title {
    text-align: center;
}

#target-price,
#goal-item,
#amt-input,
#amount-input,
#expenses-item,
#expenses-date {
    border-radius: 30px;
    font-size: 18px;
}

#target-price::placeholder,
#goal-item::placeholder,
#amt-input::placeholder,
#amount-input::placeholder,
#expenses-item::placeholder {
    padding-left: 5px;
}

#goals-form button,
#balance-form button,
#expenses-form button {
    background-color: var(--button);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    margin-top: 5px;
    transition: transform 0.1s ease-in-out;
    width: 200px;
}

#goals-form button:hover,
#balance-form button:hover,
#expenses-form button:hover {
    background-color: var(--primary);
}

#goals-form button:active,
#balance-form button:active,
#expenses-form button:active {
    transform: scale(0.9);
}

#expenses-form button {
    margin-left: 80px;
}

#goals-form button {
    margin-left: 70px;
    margin-top: 20px;
}