/*----------------------------- IMPORT FONTS -----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/*----------------------------- ROOT VARIABLES -----------------------------*/
:root {
    --bg: rgb(201, 227, 231);
    --primary: rgb(128, 198, 230);
    --accent: rgb(170, 217, 230);
    --popup: white;
    --shadow: rgba(0, 0, 0, 0.19);
    --button: skyblue;
}

/*----------------------------- GENERAL STYLES -----------------------------*/
body {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    height: 100vh;
    background-color: var(--bg);
    font-family: "Poppins";
    margin: 0;
}

/*----------------------------- NAVIGATION BAR -----------------------------*/
.nav-bar {
    position: fixed;
    left: 8px;
    top: 10px;
    width: 100px;
    height: 95vh;
    background-color: var(--primary);
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.75s;
    box-shadow: 0 6px 20px 0 var(--shadow);
    z-index: 1000;
}

.nav-bar:hover {
    width: 300px;
    z-index: 1000;
}

.nav-bar:hover .header-title,
.nav-bar:hover .header-subtitle {
    visibility: visible;
    transition-delay: 0.5s;
}

/*----------------------------- LOGO -----------------------------*/
.header {
    padding-bottom: 50px;
}

#logo {
    display: block;
    width: 70px;
    height: 70px;
    padding: 10px 0 50px 15px;
}

.header-title {
    font-family: "Lilita One";
    font-size: 35px;
    padding-left: 40px;
    margin-top: -110px;
    visibility: hidden;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 15px;
    position: relative;
    padding: 47px 0 0 25px;
    margin-top: -50px;
    white-space: nowrap;
    visibility: hidden;
}

/*----------------------------- NAVIGATION ICONS -----------------------------*/
.nav-icons a {
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
}

.nav-icons ion-icon {
    display: block;
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.icon-label {
    position: relative;
    left: 100px;
    bottom: 55px;
}

.nav-icons a:hover {
    color: white;
}

/*----------------------------- PROFILE SECTION -----------------------------*/
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left {
    width: 35%;
    background: var(--primary);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img {
    border: 6px solid #eaeaea;
    border-radius: 50%;
    margin-bottom: 10px;
}

.wrapper .left .round {
    position: absolute;
    top: 120px;
    left: 100px;
    background: #353c4e;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
}

.wrapper .left input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.wrapper .left h4 {
    margin-bottom: 10px;
}

.wrapper .left p {
    font-size: 12px;
}

.wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info {
    margin-bottom: 25px;
}

.wrapper .right .info h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data {
    display: flexbox;
    justify-content: space-between;
}

.wrapper .right .info_data .data {
    width: 45%;
}

.wrapper .right .info_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
    width: 200px;
}

.wrapper .right .info_data .data p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #919aa3;
}