/*----------------------------- IMPORT FONTS -----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lilita One:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*----------------------------- ROOT VARIABLES -----------------------------*/
:root {
    --accent: rgb(170, 217, 230);
    --bg: rgb(201, 227, 231);
    --button: skyblue;
    --popup: white;
    --primary: rgb(128, 198, 230);
    --shadow: rgba(0, 0, 0, 0.19);
}

/*----------------------------- GENERAL STYLES -----------------------------*/
body {
    background-color: var(--bg);
    display: grid;
    font-family: "Poppins";
    gap: 20px;
    grid-template-columns: 100px auto;
    height: 100vh;
    margin: 0;
}

/*----------------------------- NAVIGATION BAR -----------------------------*/
.nav-bar {
    background-color: var(--primary);
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 var(--shadow);
    height: 95vh;
    left: 8px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 10px;
    transition: 0.75s;
    width: 100px;
    z-index: 1000;
}

.nav-bar:hover {
    width: 300px;
    z-index: 1000;
}

.nav-bar:hover .header-title,
.nav-bar:hover .header-subtitle {
    transition-delay: 0.5s;
    visibility: visible;
}

/*----------------------------- LOGO -----------------------------*/
.header {
    padding-bottom: 50px;
}

#logo {
    display: block;
    height: 70px;
    padding: 10px 0 50px 15px;
    width: 70px;
}

.header-title {
    font-family: "Lilita One";
    font-size: 35px;
    margin-top: -110px;
    padding-left: 40px;
    visibility: hidden;
}

.header-subtitle {
    font-family: "Roboto";
    font-size: 15px;
    margin-top: -50px;
    padding: 47px 0 0 25px;
    position: relative;
    visibility: hidden;
    white-space: nowrap;
}

/*----------------------------- NAVIGATION ICONS -----------------------------*/
.nav-icons a {
    color: black;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}

.nav-icons ion-icon {
    display: block;
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.icon-label {
    bottom: 55px;
    left: 100px;
    position: relative;
}

.nav-icons a:hover {
    color: white;
}

/*----------------------------- SETTINGS SECTION -----------------------------*/
.wrapper {
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

/* Left Panel */
.wrapper .left {
    background: var(--primary);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    padding: 30px 25px;
    text-align: center;
    width: 30%;
}

.wrapper .left a {
    color: #353c4e;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-decoration: none;
}

.wrapper .left a:hover,
.wrapper .left a.active {
    color: var(--shadow);
    transform: scale(1.2);
}

/* Right Panel */
.wrapper .right {
    background: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px 25px;
    width: 65%;
}

.wrapper .right .info {
    margin-bottom: 25px;
}

.wrapper .right .info h3 {
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    letter-spacing: 5px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.wrapper .right .info_data {
    display: flexbox;
    justify-content: space-between;
}

.wrapper .right .info_data .data {
    width: 45%;
}

.wrapper .right .info_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
    width: 200px;
}

.wrapper .right .info_data .data p,
.input,
label {
    border: 0;
    border-bottom: 1px solid var(--shadow);
    color: #919aa3;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 140%;
}

/* Button Styles */
.btn {
    background: var(--bg);
    border: 0;
    box-shadow: 0 2px 4px 0 var(--shadow);
    margin-top: 18px;
    padding: 7px 12px;
    text-transform: uppercase;
}

.info {
    display: none;
}