<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Budget Tracker</title>

    <link rel="icon" href="../static/image/logo.png">

    <!-- External CSS -->
    <link rel="stylesheet" href="../static/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div onclick="window.location.href='budget-tracker.html';" class="header">

        <img src="../static/image/logo.png" id="logo">
        
        <div class="header-title">PennyWise</div>

        <div class="header-subtitle">Friendly Budget Tracker</div>

        
    </div>

    <div class="page">
        <div class="top-half">
            <div class="page-title">ABOUT</div>

            <img src="../static/image/about-page1.png">

            <div class="text-container">

                <div class="page-desc">
                    It's clear that helping you learn about money and financial responsibility is a top priority. 
                    Our web application, PennyWise, is designed with your education and development in mind. 
                    Here's why signing up for PennyWise is a smart decision:
                </div>

                <br>

                <div class="desc-title">Education and Engagement</div>

                <div class="desc-body">
                    PennyWise provides an engaging and educational platform for people to grasp the concept of money, 
                    budgeting, and financial responsibility. We make learning about finances fun and interactive.
                </div>

                <br>

                <div class="desc-title">Financial Literacy</div>

                <div class="desc-body">
                    Teaching people about money at any age sets the foundation for a financially responsible future. 
                    With PennyWise, you will learn essential financial skills early on.
                </div>

                <br>

                <div class="desc-title">Goal Setting</div>

                <div class="desc-body">
                    Our platform allows people to set saving goals, helping them develop the discipline to save and work towards 
                    their objectives. As they progress, they'll earn badges as a testament to their achievements.
                </div>
            </div>
        </div>

        <div class="bottom-half">

            <img src="../static/image/about-page2.png">

            <div class="text-container">
            
                <div class="desc-title">Expense Tracking</div>

                <div class="desc-body">
                    PennyWise helps people learn to manage their allowances by allowing them to log expenses and categorize them. 
                    This practical experience is invaluable for future financial decision-making.
                </div>

                <br>

                <div class="desc-title">User-Friendly Interface</div>

                <div class="desc-body">
                    PennyWise boasts a simple, friendly user interface, making it easy for anybody to navigate and understand. 
                    After creating an account and customizing their profile, you will be greeted with a dashboard that displays their 
                    financial status and savings goals.
                </div>

                <br>

                <div class="desc-title">Progress Tracking</div>

                <div class="desc-body">
                    You can track their progress toward their goals, motivating them to save and manage their money responsibly.
                </div>

                <br>
                
                <div class="page-desc">
                    By signing up for PennyWise, you're investing in your own financial future. We're here to empower them with the 
                    skills and knowledge they need to make informed financial decisions throughout their lives. Join us today and embark 
                    on a journey towards financial literacy!
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>