<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Dashboard | PennyWise</title>

        <link rel="icon" href="../static/image/logo.png">

        <!-- External CSS -->
        <link rel="stylesheet" href="../static/chief.css">
        <script src="https://kit.fontawesome.com/69e9875501.js" crossorigin="anonymous"></script>
    
    <body>
        <section id="menu">
            <div class="logo">
                <img src="../static/image/logo.png" alt="">
                <h2>PennyWise</h2>
            </div>
            <div class="items">
                <li><i class="fa-solid fa-user"></i><a href="profile.html">Profile</a></li>
                <li><i class="fa-solid fa-display"></i><a href="dashboard.html">Dashboard</a></li>
                <li><i class="fa-solid fa-gear"></i><a href="settings.html">Settings</a></li>
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="/logout">Log Out</a></li>
            </div>
        </section>

        <section id="interface">
            <div class="navigation">
                <div class="n1">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search">
                    </div>
                </div>

                <div class="profile">
                    <i class="fa-regular fa-bell"></i>
                    <img src="../static/image/noprofil.jpg" alt="" width="100" id="preview" height="100" {{defaultHidden}}>
                    <img src="data:image/jpeg;base64,{{image}}" alt="" id="preview" width="100" height="100" {{profHidden}}>
                </div>
            </div>

            <h3 class="i-name">
                Dashboard
            </h3>

            <div class="values">
                <div class="val-box">
                    <i class="fa-solid fa-users"></i>
                    <div>
                        <h3>1,234</h3>
                        <span>Total Users</span>
                    </div>
                </div>
                <div class="val-box">
                    <i class="fa-solid fa-users"></i>
                    <div>
                        <h3>1,234</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="val-box">
                    <i class="fa-solid fa-users"></i>
                    <div>
                        <h3>1,234</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="val-box">
                    <i class="fa-solid fa-users"></i>
                    <div>
                        <h3>1,234</h3>
                        <span>...</span>
                    </div>
                </div>
            </div>

            <dir class="board">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Title</td>
                            <td>Status</td>
                            <td>Role</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="people">
                                <img src="../static/image/noprofil.jpg" alt="">
                                <div class="people-de">
                                    <h5>Dela Cruz</h5>
                                    <p>...@gmail.com</p>
                                </div>
                            </td>

                            <td class="people-des">
                                <h5>Software Eng</h5>
                                <p>Web dev</p>
                            </td>

                            <td class="active"><p>Active</p></td>

                            <td class="role">
                                <p>Owner</p>
                            </td>

                            <td class="edit"><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td class="people">
                                <img src="../static/image/noprofil.jpg" alt="">
                                <div class="people-de">
                                    <h5>Dela Cruz</h5>
                                    <p>...@gmail.com</p>
                                </div>
                            </td>

                            <td class="people-des">
                                <h5>Software Eng</h5>
                                <p>Web dev</p>
                            </td>

                            <td class="active"><p>Active</p></td>

                            <td class="role">
                                <p>Owner</p>
                            </td>

                            <td class="edit"><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td class="people">
                                <img src="../static/image/noprofil.jpg" alt="">
                                <div class="people-de">
                                    <h5>Dela Cruz</h5>
                                    <p>...@gmail.com</p>
                                </div>
                            </td>

                            <td class="people-des">
                                <h5>Software Eng</h5>
                                <p>Web dev</p>
                            </td>

                            <td class="active"><p>Active</p></td>

                            <td class="role">
                                <p>Owner</p>
                            </td>

                            <td class="edit"><a href="#">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </dir>
        </section>
    </body>
</html>