<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard - Parent | PennyWise</title>
        
        <link rel="icon" href="../static/image/logo.png">

        <!-- External CSS -->
        <link rel = "stylesheet" href = "../static/parent-dashboard.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>

    <body>
        <div class="nav-bar">
            <div class="header">
                <img src="../static/image/logo.png" id="logo">
                <div class="header-title">PennyWise</div>
                <div class="header-subtitle">Kid-Friendly Budget Tracker</div>
            </div>

            <div class="nav-icons">
                <a href="parent-profile.html">
                    <ion-icon name="person-outline"></ion-icon>
                    <div class="icon-label">Profile</div>
                </a>

                <a href="parent-dashboard.html">
                    <ion-icon name="grid-outline"></ion-icon>
                    <div class="icon-label">Dashboard</div>
                </a> 
                
                <a href="parent-mail.html">
                    <ion-icon name="mail-outline"></ion-icon>
                    <div class="icon-label">Inbox</div>
                </a>
                
                <a href="parent-settings.html">
                    <ion-icon name="settings-outline"></ion-icon>
                    <div class="icon-label">Settings</div>
                </a>

                <a href="old-user.html">
                    <ion-icon name="exit-outline"></ion-icon>
                    <div class="icon-label">Log Out</div>
                </a>
            </div>
        </div>

        <div class="main-page">
            <div class="dashboard">
                Dashboard
                <hr>
                <div class="dashboard-content">
                    <div id="balance">
                        Balance
                        <button class="set-balance" onclick="openBalanceForm()">
                            <ion-icon  name="add-circle-outline"></ion-icon>
                        </button>

                        <div id="balance-form">
                            <form action="" method="get" class="new-balance">
                                <div class="form-title">Set your budget</div>
                                <hr>
                                <label for="amount-input"><b>Amount</b></label>
                                <input type="number" placeholder="Enter amount" min="0" id="amount-input">
    
                                <button type="submit" id="set-btn" onclick="closeBalanceForm()">Set</button>
                            </form>
                        </div>
                        
                        <div class="balance-content">
                            <div id="currency">Php</div>
                            <div id="amount">0.00</div>
                        </div>
    
                        <script>
                            function openBalanceForm() {
                              document.getElementById("balance-form").style.display = "block";
                              document.getElementById("currency").style.display = "none";
                              document.getElementById("amount").style.display = "none";
                            }
                            
                            function closeBalanceForm() {
                              document.getElementById("balance-form").style.display = "none";
                            }
                        </script>
                    </div>

                    <div id="family">
                        <div id="fam-title">Family</div>
                        <button class="add-family" onclick="openFamilyForm()">
                            <div class="add-member">
                                <ion-icon name="add-circle-outline"></ion-icon>
                                <div id="member-name">add a family member</div> 
                            </div>
                        </button>

                        <div id="family-form">
                            <form action="" method="get" class="new-member">
                                <div class="form-title">Add a member</div>
                                <hr>
                                <label for="member-username"><b>Username</b></label>
                                <input type="text" placeholder="Username" id="member-username">
    
                                <button type="submit" id="add-btn" onclick="closeFamilyForm()">Add Member</button>
                            </form>
                        </div>

                        <script>
                            function openFamilyForm() {
                              document.getElementById("family-form").style.display = "block";
                            }
                            
                            function closeFamilyForm() {
                              document.getElementById("family-form").style.display = "none";
                            }
                        </script>

                    </div>

                    <div id="expenses">
                        Expenses

                        <button class="add-expense" onclick="openExpensesForm()">
                            <ion-icon  name="add-circle-outline"></ion-icon>
                        </button>

                        <div id="expenses-form">
                            <form action="" method="get" class="new-expense">
                                <div class="form-title">Add expenses</div>
                                <hr>
                                <label for="expenses-item"><b>Item</b></label>
                                <input type="text" placeholder="Enter Item Name" id="expenses-item"><br>
                                <label for="amt-input"><b>Price</b></label>
                                <input type="number" placeholder="Enter amount" min="0" id="amt-input">
                                <label for="expenses-date"><b>Date purchased</b></label>
                                <input type="date" placeholder="Enter Item Name" id="expenses-date">
    
                                <button type="submit" id="add-exp-btn" onclick="closeExpensesForm()">Add</button>
                            </form>
                        </div>

                        <script>
                            function openExpensesForm() {
                              document.getElementById("expenses-form").style.display = "block";
                              document.getElementById("items").style.display="none";
                              document.getElementById("date").style.display="none";
                            }
                            
                            function closeExpensesForm() {
                              document.getElementById("expenses-form").style.display = "none";
                            }
                        </script>

                        <div class="expenses-content">
                            <div id="items">
                                <ul>
                                    <li>item</li>
                                </ul>
                            </div>

                            <div id="amt">
                                <ul>
                                    <li><span>Php</span> 0.00</li>
                                </ul>
                            </div>
                            <div id="date">
                                <ul>
                                    <li>mm/dd/yyyy</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="goals">
                        Goals
                        <div class="goal-content">
                            <ul>
                                <li>Save 20% of budget</li>
                                <li>Save 30% of budget</li>
                                <li>Save 10% of budget for 5 months straight</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div id="progress-report">Progress Report</div>
                </div>
            </div>

            <div class="for-approval">
                For Approval
                <hr>
            </div>

            <div class="history">
                Transaction History
                <hr>
            </div>
        </div>
    </body>
</html>