{% extends "base.html" %}

{% block title %}Profile | PennyWise{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/profile.css">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="left">
            <img src="../static/image/noprofil.jpg" alt="user" width="100" id="preview" height="100" {{defaultHidden}}>
            <img src="data:image/jpeg;base64,{{image}}" alt="User Profile" id="preview" width="100" height="100" {{profHidden}}>
            <form action="/saveProfile" method="post" enctype="multipart/form-data">
                <div class="round">
                    <input type="file" id="file" name="file" onchange="return fileValidation()">
                    <i class="fa fa-camera" style="color: #fff"></i>
                </div>
                <input type="submit" value="Save Edits">
            </form>
            <h4 style="color:red; text-align:center;">
                {{error_message}}
            </h4>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Username</h4>
                        <p>{{username}}</p>
                    </div>
                    <div class="data">
                        <h4>Full name</h4>
                        <p>{{first_name}} {{last_name}}</p>
                    </div>
                    <div class="data">
                        <h4>Email</h4>
                        <p>{{email}}</p>
                    </div>
                    <div class="data">
                        <h4>Phone Number</h4>
                        <p>{{phone_number}}</p>
                    </div>
                    <div class="data">
                        <h4>Birthday</h4>
                        <p>{{birth_date}}</p>
                    </div>
                    <div class="data">
                        <h4>Account Created</h4>
                        <p>{{account_date}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}