{% extends "base.html" %}

{% block title %}Settings | PennyWise{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/settings.css">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="left">
            <a onclick="tabs(0)" class="tab active">
                <h4>ACCOUNT</h4>
            </a>
            <a onclick="tabs(1)" class="tab">
                <h4>PASSWORD</h4>
            </a>
            <a onclick="tabs(2)" class="tab">
                <h4>HELP</h4>
            </a>
        </div>
        <div class="right">
            <div class="info">
                <h3>Personal Info</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Full Name</h4>
                        <p>...... ........</p>
                    </div>
                    <div class="data">
                        <h4>Username</h4>
                        <input type="text" class="input" value="abcd">
                    </div>
                    <div class="data">
                        <h4>Email</h4>
                        <input type="email" class="input" value="abc@gmail.com">
                    </div>
                    <div class="data">
                        <h4>Gender</h4>
                        <input type="radio" id="male" name="gender" value="Male">
                        <label for="male">MALE</label>
                        <input type="radio" id="female" name="gender" value="Female">
                        <label for="female">FEMALE</label>
                    </div>
                    <div class="data">
                        <h4>Birthday</h4>
                        <input type="date" id="birthday" name="birthday">
                    </div>
                </div>
                <button class="btn">Update</button>
            </div>
            

            <div class="info">
                <h3>Change Password</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>New Password</h4>
                        <input type="password" class="input">
                    </div>
                    <div class="data">
                        <h4>Old Password</h4>
                        <input type="password" class="input">
                    </div>
                </div>
                <button class="btn">Update</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const tabBtn=document.querySelectorAll(".tab");
    const tab=document.querySelectorAll(".info");

    function tabs(index) {
        tabBtn.forEach(function (button, i) {
            if (i === index) {
                button.classList.add("active");
            } else {
                button.classList.remove("active");
            }
        });

        tab.forEach(function (node, i) {
            if (i === index) {
                node.style.display="block";
            } else {
                node.style.display="none";
            }
        });
    }

    // Initialize the first tab as active
    tabs(0);

    // Add event listeners to tab buttons
    tabBtn.forEach(function (button, index) {
        button.addEventListener('click', function () {
            tabs(index);
        });
    });
</script>
{% endblock %}